
.thumbnail {
  /* width: 300px;
  display: block; */
  width: 100%;
}
.search-bar {
  display: block;
  
}
.video-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  
}
/* .video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
} */
/* .channel-picture {
  display: inline-block;
  width: 50px;
  vertical-align: top;
} */
.video-info{
display: inline-block;
width: 200px;


}
.profile-picture {
width: 40px;
border-radius: 50px;
}
.thumbnail-row {
margin-bottom: 8px;
position: relative;
}
.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96); 
  /* CSS SPECIFICITY has higher priority over Inheritance in Body */
}

.video-author {
  margin-bottom: 4px;
}
.video-stats{
  margin-top: 0;
}

.video-grid {
  /* font-family: Roboto, Arial; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;

   /* inheritance */
  /* text-decoration: underline;  
  border: 2px solid red; */
  
}
/* Media Query */
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
    
}


@media (min-width: 751px) and (max-width:
999px){
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


  @media (min-width: 1000px){
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

  }





.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}


/* ShortCut */
.video-time {
  /* font-family: Roboto, Arial; */
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  /* 4px-top 10px-right 20px-bottom 30px-left */
  /* 4px is vertical    10px horizontal  */
  margin: 4px 10px 20px 30px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}


